<div class="container mt-4">
    <ul class="list-group">
        <li class="list-group-item">
            <strong>Nombre:</strong> {{ producto.nombre }}
        </li>
        <li class="list-group-item">
            <strong>Precio:</strong> {{ producto.precio }} €
        </li>
        <li class="list-group-item">
            <strong>Tipo de Fruta:</strong> {{ producto.tipoFruta }}
        </li>
        {% load bootstrap_icons %}
        <div class="row btn-group">
            <div class="mb-2">
                <button type="button" 
                        class="btn btn-outline-primary"> 
                        <a href="{% url 'editar_producto' producto.id %}" ><span>{% bs_icon 'pencil' %}</span></a>
                </button>

            </div>
            <div class="mb-2">
                <form action = "{% url 'producto_eliminar' producto.id %}" onclick="return eliminar();" method = "post"> 
                    {% csrf_token %}
                    <button class="btn btn-danger" type="submit">
                        <span>{% bs_icon 'trash' %}</span>
                    </button> 
                </form>
            </div>
        </div>

    </ul>
</div>